<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxjlife.taobaoke.mapper.ConfigMapper">

    <resultMap id="BaseResultMap" type="com.mxjlife.taobaoke.pojo.base.ConfigInfoPO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="system" property="system" jdbcType="VARCHAR" />
        <result column="keyspace" property="keyspace" jdbcType="VARCHAR" />
        <result column="key" property="key" jdbcType="VARCHAR" />
        <result column="value" property="value" jdbcType="LONGVARCHAR" />
        <result column="desc" property="desc" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="operator" property="operator" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="column_name" >
        `id`, `system`, `keyspace`, `key`, `value`, `desc`, `status`, `operator`, `remark`, `create_time`, `update_time`
    </sql>

    <sql id="table_name">
        sys_config
    </sql>

    <insert id="insert" parameterType="com.mxjlife.taobaoke.pojo.base.ConfigInfoPO" >
        insert into
        <include refid="table_name" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="config.system != null and config.system != '' "> `system`, </if>
            <if test="config.keyspace != null and config.keyspace != '' "> `keyspace`, </if>
            <if test="config.key != null and config.key != '' "> `key`, </if>
            <if test="config.value != null and config.value != '' "> `value`, </if>
            <if test="config.desc != null and config.desc != '' "> `desc`, </if>
            <if test="config.status != null "> `status`, </if>
            <if test="config.operator != null and config.operator != '' "> `operator`, </if>
            <if test="config.remark != null and config.remark != '' "> `remark`, </if>
            <if test="config.createTime != null "> `create_time`, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="config.system != null and config.system != '' "> #{system}, </if>
            <if test="config.keyspace != null and config.keyspace != '' "> #{keyspace}, </if>
            <if test="config.key != null and config.key != '' "> #{key}, </if>
            <if test="config.value != null and config.value != '' "> #{value}, </if>
            <if test="config.desc != null and config.desc != '' "> #{desc}, </if>
            <if test="config.status != null "> #{status}, </if>
            <if test="config.operator != null and config.operator != '' "> #{operator}, </if>
            <if test="config.remark != null and config.remark != '' "> #{remark}, </if>
            <if test="config.createTime != null "> #{createTime}, </if>
        </trim>
    </insert>


    <update id="deleteById" parameterType="java.lang.Integer" >
        update
        <include refid="table_name" />
        set
        `status` = 0
        where
        `id` = #{id}
    </update>


    <!--使用id更新-->
    <update id="updateByIdOrKey" parameterType="com.mxjlife.taobaoke.pojo.base.ConfigInfoPO">
        UPDATE
        <include refid="table_name" />
        <set>
            <if test="config.system != null and config.system != '' "> `system` = #{config.system}, </if>
            <if test="config.keyspace != null and config.keyspace != '' "> `keyspace` = #{config.keyspace}, </if>
            <if test="config.key != null and config.key != '' "> `key` = #{config.key}, </if>
            <if test="config.value != null and config.value != '' "> `value` = #{config.value}, </if>
            <if test="config.desc != null and config.desc != '' "> `desc` = #{config.desc}, </if>
            <if test="config.status != null "> `status` = #{config.status}, </if>
            <if test="config.operator != null and config.operator != '' "> `operator` = #{config.operator}, </if>
            <if test="config.remark != null and config.remark != '' "> `remark` = #{config.remark}, </if>
        </set>
        WHERE
        <choose>
            <when test="config.id != null and config.id != 0">
                `id` = #{config.id}
            </when>
            <otherwise>
                `key` = #{config.key}
            </otherwise>
        </choose>

    </update>

    <select id="getByKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="column_name" />
        from
        <include refid="table_name" />
        where `key` = #{key}
    </select>


    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="column_name" />
        from
        <include refid="table_name" />
        where `id` = #{id}
    </select>

    <select id="getConfigs" resultMap="BaseResultMap" parameterType="com.mxjlife.taobaoke.pojo.base.PageInfo">
        select
        <include refid="column_name" />
        from
        <include refid="table_name" />
        <where>
            <if test="params.id != null ">AND `id` = #{params.id}</if>
            <if test="params.system != null ">AND `system` = #{params.system}</if>
            <if test="params.keyspace != null ">AND `keyspace` = #{params.keyspace}</if>
            <if test="params.key != null ">AND `key` LIKE CONCAT(CONCAT('%', #{params.remark}), '%')</if>
            <if test="params.value != null ">AND `value` LIKE CONCAT(CONCAT('%', #{params.remark}), '%')</if>
            <if test="params.desc != null ">AND `desc` LIKE CONCAT(CONCAT('%', #{params.remark}), '%')</if>
            <if test="params.status != null ">AND `status` = #{params.status}</if>
            <if test="params.operator != null ">AND `operator` = #{params.operator}</if>
            <if test="params.remark != null ">AND `remark` LIKE CONCAT(CONCAT('%', #{params.remark}), '%')</if>
            <if test="params.startTime!=null">AND `create_time` &gt; #{params.startTime}</if>
            <if test="params.endTime!=null">AND `create_time` &lt; #{params.endTime}</if>
        </where>
        <choose>
            <when test="params.orderBy != null">
                ORDER BY ${page.orderBy}
                <choose>
                    <when test="params.orderType = 1">
                        ASC
                    </when>
                    <otherwise>
                        DESC
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                ORDER BY `create_time` DESC
            </otherwise>
        </choose>
        LIMIT #{params.startIndex} , #{params.pageSize}
    </select>

    <select id="countConfigs" resultType="integer" parameterType="com.mxjlife.taobaoke.pojo.base.PageInfo">
        SELECT
        count(1)
        FROM
        <include refid="table_name" />
        <where>
            <if test="params.id != null ">AND `id` = #{params.id}</if>
            <if test="params.system != null ">AND `system` = #{params.system}</if>
            <if test="params.keyspace != null ">AND `keyspace` = #{params.keyspace}</if>
            <if test="params.key != null ">AND `key` LIKE CONCAT(CONCAT('%', #{params.remark}), '%')</if>
            <if test="params.value != null ">AND `value` LIKE CONCAT(CONCAT('%', #{params.remark}), '%')</if>
            <if test="params.desc != null ">AND `desc` LIKE CONCAT(CONCAT('%', #{params.remark}), '%')</if>
            <if test="params.status != null ">AND `status` = #{params.status}</if>
            <if test="params.operator != null ">AND `operator` = #{params.operator}</if>
            <if test="params.remark != null ">AND `remark` LIKE CONCAT(CONCAT('%', #{params.remark}), '%')</if>
            <if test="params.startTime != null">AND `create_time` &gt; #{params.startTime}</if>
            <if test="params.endTime != null">AND `create_time` &lt; #{params.endTime}</if>
        </where>
    </select>


    <select id="getByKeyWord" parameterType="com.mxjlife.taobaoke.pojo.base.PageInfo" resultMap="BaseResultMap" >
        select
        <include refid="column_name" />
        from
        <include refid="table_name" />
        where
        match(`key`, `value`, `desc`)
        against (#{params.keyWord} in natural language mode)
        limit #{params.startIndex} , #{params.pageSize}
    </select>



</mapper>